<div id="container">
    <dx-toolbar
        [width]="500"
    >
        <dxi-item 
            location="before" 
            widget="dxButton" 
            [options]="backButtonOptions"
        >
        </dxi-item>
        <dxi-item 
            location="before" 
        >
            <div *dxTemplate>
                <div id="back">Go back</div>
            </div>
        </dxi-item>
        <dxi-item 
            location="center" 
            widget="dxTextBox" 
            [options]="textBoxOptions"
        >
        </dxi-item>
        <dxi-item 
            location="center" 
            widget="dxButton" 
            [options]="searchButtonOptions"
        >
        </dxi-item>
        <dxi-item 
            location="after" 
            widget="dxButton"
            locateInMenu="auto"
            [options]="aboutButtonOptions"
        >
        </dxi-item>
        <dxi-item 
            location="after"
            locateInMenu="always" 
        >
            <div *dxTemplate>
                <div id="greeting">Hi <b>User</b>!</div>
            </div>
        </dxi-item>
        <dxi-item 
            location="after" 
            widget="dxButton"
            locateInMenu="always"
            [options]="profileButtonOptions"
        >
        </dxi-item>
        <dxi-item 
            location="after" 
            widget="dxButton"
            locateInMenu="always"
            [options]="settingsButtonOptions"
        >
        </dxi-item>
    </dx-toolbar>
</div>