#app-container {
  width: 500px;
  height: 170px;
  position: relative;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 50px;
}

#back {
  margin-left: 5px;
}

#greeting {
  text-align: center;
  margin: 7px;
}
